
<h2>Message From AppComponent: {{this.messageFromApp}}</h2>
<button class="btn btn-info" (click) = 'clickFromAppToChild()'>CLICK PARENT TO CHILD</button>
<app-child #referenceVariable [messageFromChild]='messageToChild' [getCounterValue] = 'this.count' [getMessage] = 'this.sendMessageToChild' (sendDataToParent)='ParentCall($event)'></app-child>

<h2>{{products.length > 0 ? 'Product Display Using Output() & Emitter' : ''}}</h2>
<table class="table" *ngIf='products.length > 0'> <!--Using @Output() & Event Emitter-->
<thead>
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Price</th>
    <th>Quantity</th>
  </tr>
</thead>

<tbody>
  <tr *ngFor = 'let product of products'>
    <td>{{product.Id}}</td>
    <td>{{product.Name}}</td>
    <td>{{product.Price}}</td>
    <td>{{product.Quantity}}</td>
  </tr>
</tbody>
</table>

<h2>{{referenceVariable.refVariableHeading}}</h2>
<table class="table" *ngIf ='referenceVariable.product'> <!--Using Template Reference Variable-->
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Price</th>
      <th>Quantity</th>
    </tr>
  </thead>
  
  <tbody>
    <tr *ngFor = 'let pro of referenceVariable.product'>
      <td>{{pro.Id}}</td>
      <td>{{pro.Name}}</td>
      <td>{{pro.Price}}</td>
      <td>{{pro.Quantity}}</td>
    </tr>
  </tbody>
  </table>

  <h2>{{viewchildMessage}}</h2>
  <table class="table" *ngIf='getPtoductWithViewChild.length > 0'> <!--Using ViewChild-->
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Price</th>
        <th>Quantity</th>
      </tr>
    </thead>
    
    <tbody>
      <tr *ngFor = 'let product of getPtoductWithViewChild'>
        <td>{{product.Id}}</td>
        <td>{{product.Name}}</td>
        <td>{{product.Price}}</td>
        <td>{{product.Quantity}}</td>
      </tr>
    </tbody>
    </table>